@inherits LayoutComponentBase
<link href="https://use.fontawesome.com/releases/v5.14.0/css/all.css" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap" rel="stylesheet">
<MudPopoverProvider />

<MudDialogProvider />

<MudSnackbarProvider />

<MudThemeProvider/>

<MudLayout>
    <MudAppBar Elevation="1">
        <MudIconButton Icon="@Icons.Material.Filled.Menu" Color="Color.Inherit" Edge="Edge.Start" OnClick="@((e) => DrawerToggle())" />
        <MudText Style="font-family: 'Source Sans 3', sans-serif; font-weight:bolder;" Typo="Typo.h5" Class="ml-3"><a style="color:white" href="/">QuicKonvert</a></MudText>
        <MudSpacer />
    </MudAppBar>
    <MudDrawer @bind-Open="_drawerOpen" ClipMode="DrawerClipMode.Always" Elevation="2">
        <MudPaper Width="250px" Class="d-inline-flex py-3" Elevation="0">
            <MudNavMenu Class="mud-width-full">
                <MudNavLink Href="/celsiustofahrenheit" Icon="@Icons.Material.Filled.DeviceThermostat">Celsius para Fahrenheit</MudNavLink>
                <MudNavLink Href="/measures" Icon="@Icons.Material.Filled.Straighten">Unidades de Comprimento</MudNavLink>
                <MudNavLink Href="/time" Icon="@Icons.Material.Filled.AccessTime">Unidades de Tempo</MudNavLink>
                <MudNavLink Href="/mass" Icon="@Icons.Material.Filled.Compress">Unidades de Massa</MudNavLink>
                <MudNavLink Href="/speed" Icon="@Icons.Material.Filled.Speed">Unidades de Velocidade</MudNavLink>
                <MudNavLink Href="/energy" Icon="@Icons.Material.Filled.Bolt">Unidades de Energia</MudNavLink>
                <MudNavLink Href="/binary" Icon="@Icons.Material.Filled.Lock">Código Binário</MudNavLink>
            </MudNavMenu>
        </MudPaper>
    </MudDrawer>
    <MudMainContent>
        <CascadingValue Value="_drawerOpen">
            @Body
        </CascadingValue>
    </MudMainContent>
</MudLayout>
@code 
{
    bool _drawerOpen { get; set; } = true;

    void DrawerToggle()
    {
        _drawerOpen = !_drawerOpen;
    }
}
}


